<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="30700">
    <setting id="isLoggedIn" type="bool" visible="false" default="false" />
    <setting id="jellyfinServerAddress" label="30701" type="text" default="" enable="!eq(-1,true)" />
    <setting id="loginButton" label="30703" type="action" action="RunScript($CWD/resources/scripts/trigger.py,loginButton)" option="close" visible="!eq(-2,true)" />
    <setting id="jellyfinServerName" label="30704" type="text" default="" enable="false" visible="eq(-3,true)" />
    <setting id="jellyfinDisplayUsername" label="30716" type="text" default="" enable="false" visible="eq(-4,true)" />
    <setting id="logoutButton" label="30705" type="action" action="RunScript($CWD/resources/scripts/trigger.py,logoutButton)" option="close" visible="eq(-5,true)" />
    <setting id="testConnection" label="30717" type="action" action="RunScript($CWD/resources/scripts/trigger.py,testConnection)" option="close" visible="eq(-6,true)" />
    <setting id="jellyfinAccessToken" type="text" visible="false" default="" />
    <setting id="jellyfinUserId" type="text" visible="false" default="" />
  </category>
  <category label="30620">
    <setting id="forceTranscode" label="30622" type="bool" default="false" />
    <setting id="transcodeHi10P" label="30720" type="bool" default="true" />
    <setting id="transcodeHevcRext" label="30722" type="bool" default="true" />
    <setting id="preferredVideoCodec" label="30624" type="enum" lvalues="30626|30627|30628" values="0|1|2" default="0" />
    <setting id="preferredAudioCodec" label="30629" type="enum" lvalues="30631|30632|30633|30715" values="0|1|2|3" default="0" />
    <setting id="maxStreamingBitrate" label="30634" type="enum" lvalues="30636|30637|30638|30639|30640|30641|30642|30643|30644|30645|30646|30647|30648|30649|30650|30651" values="0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15" default="15" />
    <setting id="sep3" type="sep" />
    <setting id="inputStream" label="30661" type="enum" lvalues="30663|30664|30665" values="0|1|2" default="0" />
    <setting id="timeshiftEnabled" label="30666" type="bool" default="true" visible="eq(-1,0)" />
    <setting id="openFfmpegDirectSettings" label="30725" type="action" action="Addon.OpenSettings(inputstream.ffmpegdirect)" option="close" visible="eq(-2,0)" />
  </category>
  <category label="30670">
    <setting id="jellyfinUpdateIntervalHours" label="30672" type="number" default="24" />
    <setting id="connectionchecktimeout" label="30674" type="number" default="10" />
    <setting id="connectioncheckinterval" label="30676" type="number" default="5" />
  </category>
</settings>
